In [3]:
print("Hello World")
print("Audience is very responsive!!")

Hello World
Audience is very responsive!!

### Variable & Data Types

In [4]:
a = 36
name = "Princey" 
name2 = 'Vishal'
pi = 3.14
flag = True # False

In [5]:
type(a)

int

In [6]:
type(name)

str

In [7]:
print(type(name2), type(pi), type(flag))

<class 'str'> <class 'float'> <class 'bool'>

## Input function

In [11]:
a = int(input("Enter first number: ")) # typecasting from str to int
b = int(input("Enter second number: "))
print(f"Sum of {a} and {b}", a+b)

Enter first number: 3
Enter second number: 5
Sum of 3 and 5 8

In [9]:
type(a)

str

In [10]:
type(b)

str

## Conditional Statements: if else elif

In [14]:
age = 18
if age<18: 
  print("Age is", age)
  print("Cannot vote")
elif age==18:
  print("Hurray!!! Ican vote now")
  print("I am 18")
else:
  print("You can vote!!")

Hurray!!! Ican vote now
I am 18

## Loops

In [19]:
## print numbers 1 to 10
i = 1
while i<=10:
  print(i, end=" ")
  i += 1 # update the counter

1 2 3 4 5 6 7 8 9 10

In [22]:
## For loop: numbers from 1 to 10
for i in range(1, 11, 2):
  print(i, end=" ")

1 3 5 7 9

In [24]:
## print numbers from 10 to 1
for i in range(10, 0, -1):
  print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

## List
- Dynamic Arrays
- Mutable Data Structure:

In [28]:
my_list = [10,20,30,40,50]
type(my_list)

list

In [29]:
print(my_list)

[10, 20, 30, 40, 50]

In [30]:
len(my_list)

5

In [31]:
my_list.append(60)
print(my_list)

[10, 20, 30, 40, 50, 60]

### Indexing
- Positive: 0 to length-1
- Negative: start from the last element, -1 to -length

In [39]:
## Indexing: Positive
my_list[-1]

60

## Slicing

In [49]:
print(my_list[1:4:2])
newl = []
for i in range(1,4,2):
  newl.append(my_list[i])
print(newl)

[20, 40]
[20, 40]

In [45]:
my_list[1:]

[20, 30, 40, 50, 60]

In [47]:
my_list[1::2]

[20, 40, 60]

In [51]:
print(my_list)
my_list[-1] = 100
print(my_list)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 100]

## Homework
- dir(my_list)  
- explore the other functions: pop, remove, insert, count, extend

## 2. Tuples
- Immutable data structure: you cannot change it
- Indexing, slicing, len
- To create a tuple, use ()

In [52]:
t = ()
type(t)

tuple

In [53]:
len(t)

0

In [54]:
t = (10, 20 ,30, 40, 50)
print(t)
print(len(t))

(10, 20, 30, 40, 50)
5

In [56]:
t[-1] = 100 # tuples are immutable

TypeError: ignored

## Homework:
- explore functions of a tuple
- dir(t)

In [57]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [60]:
print(t)
print(t.count(10))
print(t.index(40))

(10, 20, 30, 40, 50)
1
3

In [61]:
t = (10, 20, 40, 40)
print(t.index(40))

2

## Iteration

In [62]:
# Given a list, print all the elements of the list
l = [10, 20, 30, 40, 50, 60, 70, 80]
for i in range(8):
  print(l[i], end=" ")

10 20 30 40 50 60 70 80

In [63]:
for el in l:
  print(el, end=" ")

10 20 30 40 50 60 70 80

In [64]:
l1 = [10, 20, 30]
l2 = l1
l1[2] = 100
print(l1)
print(l2)

[10, 20, 100]
[10, 20, 100]

In [65]:
## Heterogenous data is allowed
l = [10, 3.14, 'Yayyyy', False]
print(l)

[10, 3.14, 'Yayyyy', False]

In [67]:
## Dictionary: Mutable data types cannot be keys
d={}
d = {
    'name': "Princey",
     3: 4,
     (10,20) : 0,
     [10,40] : 'a',
}
print(d)

TypeError: ignored

In [ ]:
d