In [2]:
print("Hello world")
print("Hi how are you")

Hello world
Hi how are you

In [ ]:
# Data types
str - "", '', """ """, bool - True, False, int, float

In [4]:
# variables
name = "Princey" # string
print(name)
type(name)

Princey

str

In [5]:
year = 2000
print(type(year))

<class 'int'>

In [6]:
pi = 3.14
type(pi)

float

In [7]:
type(True)

bool

In [12]:
# program to add two numbers
a = int(input("Enter first number: ")) # typecasting: converting str type data into int
b = int(input("Enter second number: "))
print(a+b)

Enter first number: 4
Enter second number: 5
9

In [10]:
type(a), type(b)

(str, str)

In [11]:
c = "6" + "5"
print(c)

65

In [14]:
a = 45
type(a)
a = str(a) # float()
type(a)

str

In [16]:
## String formatting
name = "Prashant"
year = 2023 # int
# "My name is Prashant. I am going to graduate in year 2023" # output
s = "My name is " + name + ". I am going to graduate in year " + str(year)
print(s)

My name is Prashant. I am going to graduate in year 2023

In [17]:
# f strings
s = f"My name is {name}. I am going to graduate in year {year}"
print(s)

My name is Prashant. I am going to graduate in year 2023

In [18]:
print(name, year, a)

Prashant 2023 45

In [21]:
## if else elif
age = 18
if age > 18:
    print("Age is 18")
    print("You can vote")
    print("statement 2")
    print("hi")
elif age == 18:
  print("age is 18")
else:
  print("Can't vote")

age is 18

In [24]:
## Loops: while, for
# print numbers 1 - 10
i = 1
while i<=10:
  print(i, end=" ")
  i += 1 # i = i+1

1 2 3 4 5 6 7 8 9 10

In [27]:
for i in range(1, 11, 2):
  print(i, end=" ")

1 3 5 7 9

In [28]:
## Core Data structures
# list: dynamic array: list is mutable
marks = [10, 18, 19, 20, 12]
print(marks)

[10, 18, 19, 20, 12]

In [29]:
type(marks)

list

In [30]:
len(marks)

5

In [38]:
# positive indexing: start from the first element: 0-len-1, 0 to 4
# negative indexing: start form last element: index range: -1 to -len
print(marks[-1])

12

In [39]:
marks.append(20)
print(marks)

[10, 18, 19, 20, 12, 20]

In [40]:
marks[0] = 15
print(marks)

[15, 18, 19, 20, 12, 20]

In [41]:
## Tuple: Immutable
t1 = 4, 5, 6 # commma separated values
type(t1)

tuple

In [42]:
print(t1)

(4, 5, 6)

In [51]:
t2 = (1, 2, 3, 'string', 2.3)
print(t2)

(1, 2, 3, 'string', 2.3)

In [46]:
len(t2)

3

In [47]:
t2[0] = 100

TypeError: ignored

In [50]:
t3 = t1+t2
print(t3)

(4, 5, 6, 1, 2, 3)

In [49]:
screen_dim = (500, 500)
screen_dim[0] = 800 # can't modify

(4, 5, 6)

In [52]:
## Dictionary: key, value pairs, mutable
d = {"name": "Jaya",
     "age": 34,
     "profile": "Developer"}

print(d)

{'name': 'Jaya', 'age': 34, 'profile': 'Developer'}

In [53]:
type(d)

dict

In [55]:
print(d["name"], d["age"])

Jaya 34

In [56]:
d["name"] = "Riya"
print(d)

{'name': 'Riya', 'age': 34, 'profile': 'Developer'}

In [57]:
len(d)

3

In [58]:
d.keys()

dict_keys(['name', 'age', 'profile'])

In [60]:
for key in d.keys():
  print(key, "->", d[key])

name -> Riya
age -> 34
profile -> Developer

In [61]:
d.items()

dict_items([('name', 'Riya'), ('age', 34), ('profile', 'Developer')])

In [64]:
for key, val in d.items():
  print(key, ":", val)

name : Riya
age : 34
profile : Developer

In [63]:
t2 = (3,4)
a, b = t2 # unpacking a tuple
print(a,b)

3 4

In [65]:
# mutable data types cannot be your key
d1 = {(1,2) : "a",
      "pi": 3.14}
print(d1)

{(1, 2): 'a', 'pi': 3.14}

In [66]:
d1[(1,2)]

'a'

In [67]:
d1 = {[1,2] : "a",
      "pi": 3.14}
print(d1)

TypeError: ignored

In [68]:
## Sets: mutable
s = {1, 2, 3, 4}
type(s)

set

In [69]:
print(s)

{1, 2, 3, 4}

In [72]:
l = [50, 10, 20,20,30,40,40,40]
# get the number of distinct elements in your list
s1 = set(l)
print(s1)

{40, 10, 50, 20, 30}

In [73]:
import random